{% load static %}

<!doctype html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Arsenal</title>
    <!--Font-awesome-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"/>
    <!--Estilos-->
    <link rel="stylesheet" href="{% static 'stylesheets/bootstrap.min.css' %}" />
    <link rel="stylesheet" href="{% static 'stylesheets/style.css' %}" />
  </head>
  <body>
    <div class="container-fluid px-0">
      <div class="row g-0">
        {% include 'partials/sidebar.html' %}

        <main class="col-12 col-lg-10 p-4">
          {% block content %} {% endblock %}
        </main>
      </div>
    </div>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/sidebar.js' %}"></script>
    <script src="{% static 'js/wizard.js' %}"></script>
    <script src="{% static 'js/theme.js' %}"></script>
  </body>
</html>
